/**
 * GENERAL
 */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	color: #323232;
	font-size: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #eeefed;;
}

.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after {
    content: " ";
    display: table;
}

.container:after,
.group:after,
.menu:after {
    clear: both;
}

a {
	text-decoration: none;
}

strong {
	font-weight: 600;
}

.menu {
	list-style: none;
	padding-left: 0;

}

.menu li {
	float: left;
}

.fa {
	vertical-align: middle;
}

.container {
	max-width: 1150px;
	padding: 0 1.25em; /* 20/16 */
	margin: 0 auto;
}



/* CONTACT */
.contact-bar,
.personal a {
	color: #ffcc00;
}

.contact-bar {
	background: #373737;
	font-size: 0.875em; /* 14/16 */
}

.personal {
	float: left;
}

.social {
	margin: 1.32em 0;
	float: right;
}

.personal li {
	margin-right: 10.4633782%; /* 70/669 */
}

.personal li:last-child {
	margin-right: 0;
}

.personal .fa {
	font-size: 1.75em; /* 28/16 */
	margin-right: 0.3em;
}





/* NAVIGATION */
.nav-bar {
	background: #373737;;;
}

.logo {
	font-size: 2em;
	float: left;
	margin: center;

}

.logo a {
	color: black;
	font-weight: 400;
	letter-spacing: -0.035em;
}

.logo strong {
	color: #fff5cc;
}

.logo .fa {
	position: relative;
	top: -0.06em;
}

.navigation {
	float: right;
}

.navigation .fa {
	display: block;
	padding-bottom: 0.24em;
}

.navigation a {
	color: #a6a6a6;
	display: block;
	padding: 1em 0;
	width: 5em; /* 136/16 */
	text-align: center;
}

.selected a,
.navigation a:hover,
.navigation a:focus {
	color: #ffcc00;
}

/* ARTICLE */
.text-center {
	text-align: center;
}

.post-header {
	background: url('../img/cover.jpg');
	background-size: cover;

}

.post-title {
	color: #ffcc00;
	background: #373737;
	padding: 0.2em 1em; /* 18/45 */ /* 46/45 */
	border-radius: 0.15555555555555556em; /* 7/45 */
	display: inline-block;
	text-transform: uppercase;

}

.post-content {
	padding: 4em 0 8em;
}

.post-content h2 {
	color: #323232;
	font-weight: 400;
	font-size: 1.875em; /* 30/16 */
	line-height: 1.4em; /* 42/30 */
	margin-top: 0;
}

.controls {
	width: 100%;
	margin: 3.125em 0; /* 50/16 */
	text-align: center;
}

.controls li {
	float: none;
	display: inline-block;
}

.controls a {
	font-size: 1.1em; /* 22/16 */
	font-weight: 300;
	color: dimgrey;
	text-transform: uppercase;
	padding: 0 1.1363636363636365em; /* 25/22 */
	line-height: 2.1818181818181817em; /* 48/22 */
	display: block;
}

.controls a:hover,
.controls a:focus,
.controls .selected a {
	color: #fff;
	background: dimgrey;
	border-radius: 0.18181818181818182em; /* 4/22 */
}

.gallery {
	font-size: 0;
}

.gallery img {
	margin-left: 35px;
	margin-bottom: 35px;
	width: 33.333333333%;
	height: auto;
	max-width: 100%;

}

#overlay {
	background: rgba(0,0,0,.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	text-align: center;
}

#overlay img {
	margin-top: 10%;
	border: 5px solid white;
	border-radius: 5px;
}

/* HOMEPAGE */
.homepage .post-header {
	height: 70em;
}

.homepage h2 {
    color: black;
    background-color: #eeefed;
    margin-top: 0;
    font-weight: 400;
}

.homepage h1 {
	font-weight: bold;
}

.homepage header {
	text-align: left;
}

.all-services {
	margin-top: 2.875em;
	margin-bottom: 3.4375em;
}

.services {
	text-align: center;
	font-size: 0.9375em;
	width: 31%;
	float: left;
}

.services:nth-child(2) {
	margin-left: 3.5%;
	margin-right: 3.5%;
}

.services .fa {
	color: #eeefed;
	font-size: 3.375em;
}

.services p:first-child {
	padding: 50.5px;
    background-color: #39a3d4;
    display: inline-block;
    border-radius: 0.1875em;
}

.homepage .info {
	background: url(../img/home/supa.png)center -146px no-repeat;
    height: 40em;
}

.homepage .float {
	float: right;
	width: 16.8125em;
}

.homepage .float:last-child {
	margin-right: 1.875em;
}

.homepage .info h1,
.homepage .info h2 {
	text-align: center;
}

.homepage .info h1 {
	background-color: #323232;
	width: 22.3125em;
    padding: 0.75em 0;
    font-size: 1.3em;
    font-weight: 900;
}

.homepage .info h2 {
    color: #fff;
    background-color: #de5728;
    width: 32.2em;
    padding: 0.4375em 0;
    font-size: 1.1em;
    margin-left: 6.25em;
}

.homepage .info div p {
	background-color: #fff;
	font-weight: bold;
	font-size: 0.875em;
}

.homepage .info .fa {
	color: #fff;
	font-size: 2.5em;
	text-align: center;
	background-color: #248dc1;
	width: 2.375em;
	margin-right: 25px;
	padding-top: 19px;
	padding-bottom: 19px;
}

.all-stats {
	text-align: center;
	margin-top: 106px;
	margin-bottom: 114px;

}

.stats {
	width: 30%;
	float: left;
}

.stats:nth-child(2) {
	margin: 0 5%;
}

.stats h2,
.stats h3 {
	margin: 0;
}

.stats h2 {
	color: #474747;
	font-size: 2.25em;
	margin-bottom: 0.25em;
}

.stats h3 {
	color: #fff;
	background-color: #ffcc00;
	border-radius: 0.15555555555555556em;
	font-weight: lighter;
	padding: 0.625em 0;
}

.all-showcase {
	background-color: #323232;
	text-align: center;
}

.showcase-text h2,
.showcase-text h3 {
	color: #eeefed;
	margin-bottom: 0;
}

.showcase-text {
	margin-top: 3.125em;
	margin-bottom: 1.75em;
}

.showcase-text h2 {
	background-color: #323232;
	font-size: 1.2em;
	font-weight: bold;
}

.showcase-text h3 {
	font-size: 0.8875em;
	text-transform: uppercase;
	font-weight: lighter;
	margin-top: 0.9375em;
}

.showcase-img img{
	width: 50%;
	float: left;
}

.showcase-button {
	color: #eeefed;
	text-transform: uppercase;
	font-size: 0.9em;
	background-color: #248dc1;
	display: inline-block;
	margin: 1.875em 0;
	padding: 1em 0;
	width: 10.6875em;
	border-radius: 0.1875em;
}

.showcase-button:hover,
.showcase-button:focus {
	background-color: #2ca9e7;
}

.clients {
	text-align: center;
	margin: 3.1875em 0;
}

.clients .container {
	width: 50%;
}

.clients h2 {
	font-weight: bolder;
	font-size: 1.35em;
	margin-bottom: 0;
}

.clients h3 {
	text-transform: uppercase;
	margin-top: 0;
	font-weight: lighter;
	font-size: 1.1em;
}

.clients p {
	width: 50%;
	margin: auto;

	text-align: left;
}

.clients strong {
	color: #ffcc00;
}

.clients span {
	color: #a6a6a6;
	font-weight: bold;
}

.clients img {
	width: 13.75em;
}

.clients .img-left {
	float: left;
}

.clients .img-right {
	float: right;
}

/* ABOUT */
.about .post-header {


}

.workers .container{
	width: 80%;
}

.workers {
	color: #fff;
	background-color: #323232;
}

.workers {
	padding-top: 2.5em;
	padding-bottom: 10em;
}



/* CONTACT */


.contact-float-handler h1 {
	display: inline-block;
}

form div {
	display: inline-block;
}

.contact form,
.contact textarea {
	width: 80%;
}

.form-main input,
.contact textarea {
	border: solid 1px #d4d4d4;
	border-radius: 3px;
	margin-top: 0.375em;
}


.form-main input {
	width: 20em;
	margin-bottom: 1.5em;
}

#name {
	margin-right: 1.875em;
}

.contact textarea {
	height: 17.9375em;
	width: 42em;
}

.contact label {
	font-size: 1.1em;
	font-weight: lighter;
	margin-bottom: 0.5em;
}

.button {
	background-color: #ffcc00;
	color: black;
	font-weight: lighter;
	border: none;
	border-radius: 3px;
	width: 10.6875em;
	padding: 0.625em 0;
	margin: 1.6875em 0;
}

.button:hover,
.button:focus {
	background-color: #ffed4b;
}

form,
.contact .personal {
	float: none;
}



.contact .personal li {
	float: none;
	margin: 0;
}

.contact .personal li,
.contact .personal a {
	color: #000;
	font-weight: lighter;
}

.contact .personal li:nth-child(6) {
	margin-top: 2.1875em;
}


/* FOOTER */
.pre-footer {
	color: #fff5cc;
	background: #373737;
	text-align: center;
}

.pre-footer .container {
	padding: 2em 0 2.7em 0;
}

.pre-footer p {
	font-size: 1em;
	text-transform: uppercase;
}

.pre-footer strong {
	font-size: 1.375em; /* 22/16 */
	font-weight: 600;
	text-transform: none;
	display: block;
}

.pre-footer .personal {
	width: 100%;
	margin: 1.5em 0 0;
}

.pre-footer li {
	float: none;
	display: inline-block;
}

footer {
	font-size: 0.875em; /* 14/16 */
}

footer .logo {
	color: black;
	margin: .82em;
	margin-left: 0;
}

footer p {
	color: #a6a6a6;
	float: left;
}

footer p a {
	color: black;
	font-weight: 600;
}

footer p,
footer .menu {
	margin: 2.2857142857142856em 0 2.2857142857142856em; /* 32/14 */ /* 32/14 */
}

footer .menu {
	font-weight: 600;
	text-transform: uppercase;
	float: right;
}

footer .menu a {
	color: #989898;
}

footer li:after {
	content: '';
	color: #989898;
	margin: 0 0.5714285714285714em; /* 8/14 */
}

footer li:last-child:after {
	display: none;
}

.nav-footer a:hover,
.nav-footer a:focus,
.nav-footer .selected {
	color:  #ffcc00;
}

/* MEDIA QUERIES */
@media ( max-width: 1150px ) {

	.nav-bar .container {
		padding-right: 0;
	}

	.navigation li:last-child {
		border-right: none;
	}

}

@media ( max-width: 976px ) {
	.clients .container {
		width: 80%;
	}
}

@media ( max-width: 973px ) {
	form,
	.contact .personal {
		float: none;
	}
	
	.contact form, .contact textarea {
		margin: auto;
	}

	.contact form {
		width: 78%;
	}
	.contact .personal {
		width: 80%;
		margin: auto;
		margin-top: 2em;
		text-align: center;
	}

	.button {
		width: 100%;
	}
	
	#name {
		margin-right: 0;
	}

	.form-main input,
	.contact textarea,
	form div {
		width: 100%;
	}
}

@media ( max-width: 877px ) {
	.homepage .post-title {
		font-size: 2.7125em;
	}
}

@media ( max-width: 848px ) {

	.logo {
		margin: 0.2em;
	}

	.navigation a {
		padding: 1em 0;
		width: 7.5em;
	}

	article {
		font-size: 85%;
	}

	.pre-footer {
		font-size: 90%;
	}

	.post-content {
		padding: 3.2em 0 5em;
	}

}

@media ( max-width: 820px ) {

	footer .logo {
		margin-left: 16%;
	}

	footer .menu {
		width: 100%;
		text-align: center;
		margin-top: 0;
	}

	footer .menu li {
		float: none;
		display: inline-block;
	}

}

@media ( max-width: 723px ) {
	.homepage .post-title {
		font-size: 2.6em;
	}
}

@media ( max-width: 720px ) {

	.nav-bar .logo,
	.navigation {
		float: none;
		width: 100%;
	}

	.nav-bar .logo {
		font-size: 2.5em;
		text-align: center;
	}

	.nav-bar .container {
		padding-left: 0;
	}

	.navigation {
		border-top: 1px solid #cecece;
	}

	.navigation li {
		width: 25%;
	}

	.navigation a {
		width: 100%;
	}

	.navigation li:first-child {
		border-left: none;
	}

	.post-header {
		text-align: center;
	}

}

@media ( max-width: 766px ) {

	.gallery img {
		width: 50%;
	}

	.post-content {
		padding-bottom: 0;
	}

	footer .logo {
		margin-left: 13%;
	}

}

@media ( max-width: 712px ) {
	.homepage .info h2 {
		margin-left: 0;
	}
}

@media ( max-width: 695px ) {
	.homepage .post-header {
		text-align: center;
	}
	.homepage .post-title {
		padding: 0.4em 0.8em;
		font-size: 2.4em;
	}

}

@media ( max-width: 682px ) {
	.services {
		float: none;
		width: 85%;
		margin: auto;
	}
	
	.services:nth-child(2) {
		margin: 5em auto;
	}
}

@media ( max-width: 590px ) {

	.personal {
		width: auto;
	}

	.personal li {
		float: none;
	}

	.personal li:first-child {
		margin-bottom: .5em;
	}

	.social {
		font-size: 1.33em;
	}

	footer .logo {
		margin-left: 6%;
	}

	
	.all-stats {
		margin: 50px 0;
	}

	.stats {
		float: none;
		margin: auto;
		width: 15em;
	}

	.stats:nth-child(2) {
		margin: 35px auto;	
	}

}

@media ( max-width: 540px ) {

	footer p {
		width: 100%;
		text-align: center;
	}

	footer .logo {
		margin-bottom: 0;
		margin-left: 0;
	}

	footer .author {
		margin-top: 1.7em;
	}

}

@media ( max-width: 533px ) {
	.homepage .float {
		width: 47%;
	}

}

@media ( max-width: 532px ) {
	
	.homepage .info h2 {
		width: 100%;
	}
}

@media ( max-width: 976px ) {
	.clients .container {
		width: 100%;
	}
}

@media ( max-width: 500px ) {

	.personal,
	.social {
		width: 100%;
		text-align: center;
	}

	.personal {
		margin: 1.5em 0 0;
	}

	.social {
		margin-top: 0.8em;
	}

	.gallery .personal li {
		float: none;
		display: inline-block;
	}

	.social li {
		width: 24%;
		margin: 0 0.4%;
	}

	.social-icon {
		width: 100%;
		height: auto;
		line-height: 2.3em;
	}

	.post-title {
		font-size: 3.2em;
		line-height: 1.1em;
		text-align: center;
	}

	.homepage .info .fa {
		margin-right: 10px;
	}
}

@media ( max-width: 475px) {
	.homepage .float:last-child {
		margin-right: 0;
		margin: auto;
	}

	.homepage .float {
		float: none;
		margin: auto;
		width: 100%;
	}

	.homepage .info {
		height: 54em;
	}

	.homepage .info .fa {
		margin-right: 25px;
	}
}

@media ( max-width: 448px) {
	.homepage .info h1 {
		width: 100%;
	}
}

@media ( max-width: 430px ) {
	.gallery img {
		width: 100%;
	}
}

@media ( max-width: 424px ) {
	.clients .img-right,
	.clients .img-left {
		float: none;
	}

	.clients .container {
		margin-top: 2.5em;
	}

	.clients p {
		width: 100%;
		margin: auto;
		text-align: left;
	}
}